.start {
    width: 100%;
    height: 400px;
}

.info {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.options {
    padding-top: 3%;
    color: black;
}

a:hover, a:link, a:visited, a:active {
    text-decoration: none;
}

.name {
    text-align: center;
    font-size: 800%;
    padding-top: 2%;
}

.card-button {
    font-size: 240%;
    text-align: center;
}

.btn {
    float: right;
}
